name: 'run'

on:
  schedule:
    - cron: '30 */8 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'setup python'
        uses: actions/setup-python@master
        with: 
          python-version: 3.7

      - name: requirements
        run : pip3 install -r requirements.txt

      - name: main
        env:

          netease_username: ${{ secrets.netease_username }}
          netease_password: ${{ secrets.netease_password }}
    
 
        run: |
          python3 ./NetEase_Music_daily/NetEase_Music_dailyForSCF.py

